<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingquan.mapper.CardTypeMapper">

    <resultMap id="cardTypeMap" type="com.qingquan.entity.CardType">
        <id property="id" column="id"/>
        <result property="cardName" column="card_name"/>
        <result property="icon" column="icon"/>
        <result property="typeIndex" column="type_index"/>
        <result property="isEnable" column="is_enable"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectAll" resultMap="cardTypeMap">
        SELECT * FROM card_types
        <where>
            <if test="isEnable != null">is_enable = #{isEnable}</if>
        </where>
        ORDER BY type_index ASC
    </select>

    <select id="selectById" resultMap="cardTypeMap">
        SELECT * FROM card_types WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO card_types (card_name, icon, type_index, is_enable)
        VALUES (#{cardName}, #{icon}, #{typeIndex}, #{isEnable})
    </insert>

    <update id="update">
        UPDATE card_types
        <set>
            <if test="cardName != null">card_name = #{cardName},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="typeIndex != null">type_index = #{typeIndex},</if>
            <if test="isEnable != null">is_enable = #{isEnable},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM card_types WHERE id = #{id}
    </delete>

</mapper>
